.navBar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    height: 70px;
    background-color: #000000;
    position: fixed;
    z-index: 1;
}
.navBarLink {
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.navBarRight .navBarLink{
    margin-left: 50px;
}

